// main: themes.less

.theme4 {
	.theme-color(@color-white, @color-white, initial, @color-white, @color-blue);
	.theme-background(@color-blue, @color-dark-blue, @color-white, @color-white);
	.theme-hover(@color-white, @color-black, @color-dark-blue, @color-white, @color-dark-blue);

	.sectionHeader {
		opacity: 0.3;
		color: @color-dark-blue;
	}

	.checked {
		color: @color-white;

		&:before, &:after {
			color: @color-white;
		}
	}
}

@media (min-width: 1000px) {
	.theme4 {
		.checked:hover {
			color: @color-white;

			&:before, &:after {
				color: @color-white;
			}
		}
	}
}
