.theme3 {
	background: url("Wood.jpg");
}

.theme3 p {
	font-size: 20px;
}

.theme3 nav ul li:hover {
	color: #bdc7c5;
}

.theme3 section {
	background: -webkit-radial-gradient(rgb(42, 84, 44), rgb(25, 65, 30));
	background: -o-radial-gradient(rgb(42, 84, 44), rgb(25, 65, 30));
	background: -moz-radial-gradient(rgb(42, 84, 44), rgb(25, 65, 30));
	background: radial-gradient(rgb(42, 84, 44), rgb(25, 65, 30));
	font-family: 'Caveat Brush', cursive;
	color: #bdc7c5;
	border: #bdc7c5 solid 5px;
}

.theme3 .sectionHeader {
	color: #bdc7c5;
	opacity: 0.7;
}

.theme3 footer h2 {
	color: #bdc7c5;
}

.theme3 #up {
	background: rgb(42, 84, 44);
	color: #bdc7c5;
}

.theme3 #up:hover {
	background: rgb(25, 65, 30);
}

@media (min-width: 1000px) {
	.theme3 .checked:hover:before, .theme3 .checked:hover:after {
		color: #bdc7c5;
	}
}
